*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  height:auto;
}

:root {
  --green: #54b192;
  --gray: #3f3d56;
}

/* === Header === */
header {
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  text-decoration: none;
}

/* Nav Bar */
.navbar__links {
  width: 60%;
  height: 100%;
  z-index: 4; /* Move it to the foreground */
  position: initial;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__link {
  list-style: none;
  margin: 55px;
  align-items: center;
  justify-content: flex-end;
}

.navbar__link a {
  text-decoration: none;
  color: var(--gray);
  color: #000000;
  font-weight: 300;
  transition: var(--smooth);
  padding-left:20px;
}

.navbar__link a:hover {
  color: indigo;
  transition: var(--smooth);
}


/* === Banner === */
#banner {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  padding-top: 170px;
}

.banner__heading {
  max-width: 350px;
  color: var(--gray);
  z-index: 2;
}

.banner__heading h1 {
  font-size: 40px;
  padding-top: 60px;
  margin-bottom: 0.8em;
  text-align: initial;
}

.banner__heading p {
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 1.5em;
}

/* === Things === */
/* === Things === */
#things {
  position: relative;
  overflow-x: hidden;
  margin-top: 5em;
  margin-bottom: 5em;
}

#things h2 {
  text-align: center;
  color: var(--gray);
  margin-bottom: 3em;
}

.things__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}

.things__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 50%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}

.things__item {
  margin: 3em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.things__item img {
  padding-bottom: 4em;
}

.things__item--heading {
  text-align: center;
  color: var(--gray);
  width: 45%;
  text-align: initial;
  margin-top: 5em;
}

.things__item--heading p {
  font-weight: 300;
  line-height: 2em;
  padding-top: 1em;
  max-width: 500px;
  margin: 0;
}

@media (min-width: 62em) {
  .things__item img {
    width: 40%;
    padding-bottom: 0;
  }
  .things__item:nth-child(odd) img {
    order: 2;
    width: 40%;
    padding-top:15em;
    padding-bottom: 40px;
  }
  .things__item--heading:nth-child(odd) {
    order: 1;
    width: 45%;
    text-align: initial;
  }
}

/* === Problem === */
#problem {
  position: relative;
  overflow-x: hidden;
  margin-bottom: 30px;
}

#problem h2 {
  text-align: center;
}

#problem h3 {
  text-align: center;
  color: var(--gray);
  margin-bottom: 1em;
  margin-top: 15px;
}

.problem__dec {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transform: translateX(-60%);
}

.problem__item {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}

.problem__item img {
  width: 50%;
  height: 50%;
  display: inline-flex;
  align-items: center;
  margin-top: 10em;
  padding-right: 30px;
}

.problem--heading {
  text-align: center;
  color: var(--gray);
}

.problem--heading p {
  font-weight: 300;
  line-height: 2.5em;
  flex-wrap: wrap;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}


/* === Solution === */

#solution {
  position: relative;
  overflow-x: hidden;
  margin-bottom: 30px;
}

#solution h2 {
  text-align: center;
  color: var(--gray);
  margin-bottom: 3em;
  margin-top: 30px;
  padding-top: 30px;
}

.solution__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  margin-bottom: 30px;
  display: flex;
}

.solution__item {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  maregin-top:20px;
}

.solution__item img {
  width: 50%;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  padding-left: 30px;
}

.solution--heading {
  text-align: center;
  color: var(--gray);
}

.solution--heading p {
  font-weight: 300;
  line-height: 32px;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 3em;
  max-width: 500px;
  margin: 0;
}
